.imgbg{
  margin-top: -15vw;
  height: 100%;
  width: 100%;
  /* filter: brightness(20%); */
  filter: blur(0.5px) brightness(90%) ;
}
html, .blur{
  background-color: rgba(39,40,61,255);
  overflow-x: hidden;
  /* overflow: hidden; */
}
.premier{
  
  text-align: center;
}

.job{
  font-family: 'Lobster', cursive;  
  font-size: 2vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 6vw;
  left: 2vw;
  color: white;
}

.about{
  /* font-family: 'Lobster', cursive;   */
  font-size: 2vw;
  transition: transform .2s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10vw;
  border-bottom: solid white 1px;
  left: 2vw;
  color: white;
}

.about:hover{
  transform: scale(1.2);
}

.project{
  /* font-family: 'Lobster', cursive;   */
  font-size: 2vw;
  transition: transform .2s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 13.5vw;
  border-bottom: solid white 1px;
  left: 2vw;
  color: white;
}

.project:hover{
  transform: scale(1.2);
}

.call{
  /* font-family: 'Lobster', cursive;   */
  font-size: 2vw;
  transition: transform .2s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 17vw;
  border-bottom: solid white 1px;
  left: 2vw;
  color: white;
}

.call:hover{
  transform: scale(1.2);
}
.html{
  /* height: 100%; */
  width: 70%;
  position: absolute;
  left: 0%;
  top: 60vw;
}

.htmlv{
  /* height: 100%; */
  width: 70%;
  position: absolute;
  left: 33.5%;
  top: 90vw;
}

.css{
  /* height: 100%; */
  width: 70%;
  position: absolute;
  left: -28%;
  top: 120vw;
}

.set{
  /* height: 100%; */
  width: 70%;
  position: absolute;
  left: 33.5%;
  top: 120vw;
}
.blurIdea{
  position: absolute;
  top: 25vw;
  left: 26vw;
  /* padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 4vw;
  padding-right: 4vw; */

  width: 52.5vw;
  height: 13.8vw;
  backdrop-filter: blur(3px);

  box-shadow: 0 0 5px 5px rgba(71, 56, 95, 0.5);
  /* height: 500px; */
}

.text{
  position: absolute;
  top: 60vw;
  left: 23vw;
  width: 60vw;
  height: 30vw;
  backdrop-filter: blur(3px) brightness(90%);
      /* backdrop-filter: brightness(80%); */

  box-shadow: 0 0 5px 5px rgba(71, 56, 95, 0.5);
}

.txt1{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  font-family: "Oswald";
  font-size: 1.5vw;
  padding: 1%;
}
.txt2{
  position: absolute;
  left: 14vw;
  top: 17vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Oswald";
  font-size: 1.5vw;
  padding: 1%;
}

#p4{
  filter: blur(0.5px) brightness(85%);
  transition: transform .3s;
}

#p4:hover {
  filter: blur(0px) brightness(100%);
  transform: scale(1.04);
}


#p4:hover + .carousel-caption .carou1 {
  transform: scale(1.1);
}

.carou1 {
  font-size: 2vw;
  transition: transform 0.3s;
}
/* #carou1:#p4{
  transform: scale(1.2);
} */

.mesproj{
  color: white;
}

.projets{
  position: absolute;
  top: 95vw;
  left: 40vw;
  font-size: 4vw;
  font-family: "Oswald";
}

.card1{
  width: 50%;
  position: absolute;
  left: 27vw;
  top: 85vw; 

  /* position: absolute;
  left: 25vw;
  top: 85vw; */
}


.c{
  position: absolute;
  left: -3vw;
  top: 9.5vw;
  width: 20vw;
}

.trinity{
  position: absolute;
  left: 40.5vw;
  top: -3vw;
  width: 22vw;

}

.quoteUp{
 
  position: absolute;
  top: -3vw;
  left: 0vw;
  color: rgb(255, 255, 255);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 10vw;
}
.textQuote{
 
  /* position: absolute;
  top: 25vw;
  left: 33vw; */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
  color: rgb(255, 255, 255);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 4vw;
}
.quoteDown{
 
  position: absolute;
  top: 6.2vw;
  left: 47.5vw;
  color: rgb(255, 255, 255);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 10vw;
}

.wave{
  height: 35%;
  transform: rotate(-5deg);
  width: 120%;
  position: absolute;
  left: -18%;
  top: 47%;
  filter: contrast(100%);
}
.name{
  
    /* transform: translate(-50%, -50%); */
  color: white;    font-family: "Oswald";
  font-size: 4vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 1vw;
  left: 2vw;
  color: white;
  font-family: "Oswald";
  /* font-size: 300%; */
}

.aboutme{
    /* backdrop-filter: brightness(95%); */

  color: white;
}
.aboutmetext{
  font-size: 4vw;
  font-family: "Oswald";
  position: absolute;
  left: 42vw;
}
@media only screen and (max-width:1000px){

  .job{
    font-family: 'Lobster', cursive;  
    font-size: 10vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 6vw;
    left: 17vw;
    color: white;
  }

  .name{
  
    /* transform: translate(-50%, -50%); */
  color: white;    font-family: "Oswald";
  font-size: 10vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -3vw;
  left: 27vw;
  color: white;
  font-family: "Oswald";
  /* font-size: 300%; */
}

.about{
  /* font-family: 'Lobster', cursive;   */
  font-size: 3vw;
  transition: transform .2s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 18.5vw;
  border-bottom: solid white 1px;
  left: 20vw;
  color: white;
}

.project{
  /* font-family: 'Lobster', cursive;   */
  font-size: 3vw;
  transition: transform .2s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 18.5vw;
  border-bottom: solid white 1px;
  left: 47vw;
  color: white;
}

.call{
  /* font-family: 'Lobster', cursive;   */
  font-size: 3vw;
  transition: transform .2s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 18.5vw;
  border-bottom: solid white 1px;
  left: 67vw;
  color: white;
}

.textQuote{
 
  /* position: absolute;
  top: 25vw;
  left: 33vw; */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
  color: rgb(255, 255, 255);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 7vw;
}

.blurIdea{
  position: absolute;
  top: 25vw;
  left: 9vw;
  /* padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 4vw;
  padding-right: 4vw; */

  width: 83vw;
  height: 21.5vw;
  backdrop-filter: blur(3px);

  box-shadow: 0 0 5px 5px rgba(71, 56, 95, 0.5);
  /* height: 500px; */
}
.quoteDown{
 
  position: absolute;
  top: 14vw;
  left: 78vw;
  color: rgb(255, 255, 255);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 10vw;
}

.text{
  position: absolute;
  top: 60vw;
  left: 4vw;
  width: 92vw;
  height: 40vw;
  backdrop-filter: blur(3px) brightness(90%);
      /* backdrop-filter: brightness(80%); */

  box-shadow: 0 0 5px 5px rgba(71, 56, 95, 0.5);
}
.trinity{
  position: absolute;
  left: 69vw;
  top: -3vw;
  width: 25vw;

}
.c{
  position: absolute;
  left: -3.5vw;
  top: 16vw;
  width: 23vw;
}
.txt1{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  font-family: "Oswald";
  font-size: 2.5vw;
  padding: 1%;
}
.txt2{
  position: absolute;
  left: 15vw;
  top: 21vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Oswald";
  font-size: 2.4vw;
  padding: 1%;
}
.carte1{
  /* color: black; */
  /* font-size: 3vw; */
  /* background-color: aqua; */
  position: absolute;
  top: 35vw;
  left: -24vw;
  text-align: center;
}

.carte2{
  text-align: center;

  /* display: none; */
  position: absolute;
  top: 35vw;
  left: 8.5vw;
}

.carte3{
  text-align: center;

  /* display: none; */
  position: absolute;
  top: 35vw;
  left: 41vw;
  /* font-size: 5vw; */

}
.card-title{
  width: 26vw;
  /* position: absolute; */
  left: 1vw;
  top: 26vw;
  font-size: 20vw;
  /* margin-left: -2vw; */
  text-align: center;
}
.col{
  font-size: 3.5vw;
  /* color: red; */
}

/* .carr{
  font-size: 1px;
} */

.but{
  margin-top: 8vw;
  width: 20vw;
  padding-left: 5vw;
  font-size: 2vw;
}





.carousel{
  display: none;
  
}
.projets{
  position: absolute;
  top: 100vw;
  left: 21vw;
  font-size: 10vw;
  font-family: "Oswald";
}
}